.feynman__title {
  max-width: 648px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
  margin-bottom: 70px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  position: relative;
  z-index: 1;
}