* {
  margin: 0;
  padding: 0;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* ----------------------Общий блок logo---------------------- */
.logo {
  width: 228px;
  height: 32px;
}

/* -------------------------header---------------------------- */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  color: #4daffa;
}

.header__link:visited {
  color: cornflowerblue;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #4daffa;
}

/* -------------------------Content-------------------- */
.content {
}

/* -------------------------Section 1------------------------- */
.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #4daffa;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__main-text p {
  margin-bottom: 30px;
}

.two-columns__main-text p:last-child {
  margin-bottom: 0;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/* -----------------------Section 2--------------------- */
.digits {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ----------------------Общий блок (таблица)------------------- */
.section-title {
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 1;
}

.table__cell {
  width: 250px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__span {
  display: inline-block;
  padding-top: 20px;
}
/* -------------------------------------------------- */

.section__title_theme_white {
  margin-bottom: 20px;
}

.table__cell_theme_white {
  margin-top: 60px;
}

.table__heading_theme_white {
  margin-bottom: 20px;
}

/* ----------------------Section 3----------------------- */
.feynman {
  height: 890px;
  position: relative;
}
.feynman__title {
  width: 648px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  position: relative;
  z-index: 1;
}
.feynman__subtitle {
  text-align: center;
  margin: 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: relative;
  z-index: 1;
}
.feynman__link {
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #4daffa;
  text-decoration: none;
}

.feynman__link:visited {
  color: cornflowerblue;
}
.feynman__img {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* ---------------------------Section 4----------------------- */

.kaufman {
  padding: 90px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: black;
  color: white;
}

.section-title_theme_dark {
  z-index: 1;
  margin-bottom: 20px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.table__heading_theme_dark {
  margin-bottom: 20px;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
}

/* ----------------------footer------------------------------ */
.footer {
  min-height: 350px;
  display: flex;
  justify-content: center;
  padding: 60px 0 40px 0;
  background-color: black;
  color: white;
}
.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}
.logo {
}
.logo_place_footer {
}
.footer__author {
}
.footer__column_content_info {
}
.footer__column-heading {
}
.footer__column-links {
}
.footer__column-link {
}
.footer__column_content_social {
}
