.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
  /* background-color: #f2f2f2; */
}

/* ----------------------Общий блок logo---------------------- */
.logo {
  width: 228px;
  height: 32px;
}

/* -------------------------header---------------------------- */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  width: 730px;
  margin: 0 0 0 64px;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  margin: 0;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__link:visited {
  color: cornflowerblue;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}

/* -------------------------Section 1------------------------- */
.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px 0;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/* -----------------------Section 2--------------------- */
.digits {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ----------------------Общий блок (таблица)------------------- */
.section-title {
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  width: 60%;
  margin: 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  z-index: 1;
}

.table__cell {
  width: 250px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* -------------------------------------------------- */
.table_theme_white {
  margin: 0;
  padding: 0;
}

.section__title_theme_white {
  margin: 0 0 20px 0;
}

.table__cell_theme_white {
  margin-top: 60px;
}

.table__heading_theme_white {
  margin: 0;
}

.table__text_theme_white {
  padding-top: 20px;
  margin: 0;
}

/* ----------------------Section 3----------------------- */
.feynman {
  min-height: 890px;
  position: relative;
  background-color: #f2f2f2;
  text-align: center;
}

.feynman__title {
  width: 648px;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
  margin-bottom: 70px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  position: relative;
  z-index: 1;
}

.feynman__subtitle {
  display: inline-block;
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: relative;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__link:visited {
  color: cornflowerblue;
}

.feynman__img {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* ---------------------------Section 4----------------------- */

.kaufman {
  padding: 90px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
  color: white;
}

.table_theme_dark {
  margin: 0;
  padding: 0;
}

.section-title_theme_dark {
  z-index: 1;
  margin: 0 0 20px 0;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.table__heading_theme_dark {
  margin: 0;
}

.table__text_theme_dark {
  padding-top: 20px;
  margin: 0;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  background-size: cover;
}

/* ----------------------footer------------------------------ */
.footer {
  box-sizing: border-box;
  min-height: 350px;
  display: flex;
  justify-content: center;
  padding: 60px 0 40px 0;
  background-color: #1f1f1f;
  color: white;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0 0 20px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  padding: 0;
  margin: 0 0 16px 0;
  list-style-type: none;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  display: flex;
  color: white;
}

.footer__column-link:visited {
  color: #4daffa;
}

.footer__social-icon {
  margin-right: 10px;
}
