.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}
.khan__buy-link:hover {
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
}